.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title-text {
  text-align: center;
}
.button {
  background: rgba(207, 7, 7, 0);
  box-shadow: 0 8px 32px 0 rgba(33, 45, 202, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 54px;
  width: 100%;
}
.button:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 58px;
  background: linear-gradient(315deg, #f0f0f0, #cacaca);
  box-shadow: -5px -5px 45px #636363, 5px 5px 45px #ffffff;
}
.form {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 54px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50%;
  border: 0.5px solid 0396FF;
  border-radius: 54px;
  padding: 20px;
}
